.sender{clear:both;}
.sender div:nth-of-type(1){
    float: left;
}
.sender div:nth-of-type(2){
    background-color: aquamarine;
    float: left;
    margin: 0 20px 10px 15px;
    padding: 10px 10px 10px 0;
    border-radius:7px;
}
.receiver div:first-child img,
.sender div:first-child img{
    width:50px;
    height: 50px;
}
.receiver{
    clear:both;
}
.receiver div:nth-child(1){
    float: right;
}
.receiver div:nth-of-type(2){
    float:right;
    background-color: #dddddd;
    margin: 0 10px 10px 20px;
    padding: 10px 0 10px 10px;
    border-radius:7px;
}
.left_triangle{
    height:0;
    width:0;
    border: 8px solid transparent;
    border-right-color: aquamarine;
    position: relative;
    left:-16px;
    top:3px;
}
.right_triangle{
    height:0;
    width:0;
    border: 8px solid transparent;
    border-left-color: #dddddd;
    position: relative;
    right:-16px;
    top:3px;
}